@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
<head>
    <title>Sports Organizer</title>
</head>
<body>
    <h2>Welcome to Sports Organizer!!!</h2>
    <p>@Html.ActionLink("View teams", "Index", "Teams")</p>
</body>
</html>
