@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <title>Sports Organizer</title>
</head>
<body>
    <div class="container">
        <h2>Welcome to Sports Organizer!!!</h2>
        <p>@Html.ActionLink("View teams", "Index", "Teams")</p>
    </div>
    
</body>
</html>
