@model IEnumerable<SportsLeagueOrganizer.Models.Team>

<html>
<head>
    <title>Sports League Organizer!!</title>
</head>
<body>
    <h2>Sports League Organizer!!</h2>
    <h4>@Html.DisplayNameFor(model => model.Name)</h4>
    <ul>
        @foreach (var listTeam in Model)
        {
            <li>@Html.DisplayFor(modelTeam => listTeam.Name)
                | @Html.ActionLink("Details", "Details", new { id = listTeam.TeamId })
            </li>
        }
    </ul>
</body>
</html>