@model IEnumerable<SportsLeagueOrganizer.Models.Team>

<html>
<head>
    <title>To Do List</title>
</head>
<body>
    <h2>To Do List</h2>
    <h4>@Html.DisplayNameFor(model => model.Name)</h4>
    <ul>
        @foreach (var listItem in Model)
        {
            <li>@Html.DisplayFor(modelItem => listItem.Name)</li>
        }
    </ul>
</body>
</html>